body>header h2 {font-size: 12px !important;}
article blockquote {font-size: 18px !important;}
body {
	font-family: Simsun !important;
}
.aboutme ul li div {color:rgb(207,97,19); font-weight: bold;width:200px;background-color: red;display: inline-block;}
.aboutme .social span {margin-right: 5px;}
.aboutme .social img {border:0 !important;box-shadow:none !important;width: 30px;height: 30px;border-radius: 30px;}